.container-tab {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
}
.block-tabs {
  display: flex;
  flex-direction: row;
}
.tab {
  padding: 15px;
  width: 50%;
  text-align: center;
  background: #fff;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: content-box;
  outline: none;
  position: relative;
  color: #000;
}
.active-tab {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #ff6e4026;
  color: #ff6e40;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;

    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background:#FAAE42;
  }
}

.tabs-content {
  flex-grow: 1;
  height: 500px;
  overflow-x: hidden;
  width: 100%;
  
}
.content {
  background: #fff;
  padding: 10px;
  padding-right: 30px;
  width: 100%;
  height: 100%;
  display: none;
  color: #000;
}
.active-content {
  display: block;
}

// button goup
.button-group {
  height: 70px;
  width: 400px;
  background: #fff;
  position: fixed;
  bottom: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.button-read {
  width: 180px;
  height: 70%;
  border-radius: 10px;
  background: #05b171;
  color: white;
  border: none;
  font-weight: 300;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    text-align: center;
    display: block;
    margin-left: 10px;
  }
}
.button__delete {
  width: 140px;
  height: 70%;
  border-radius: 10px;
  border: none;
  background-color: #ea4444;
  font-weight: 300;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    margin-left: 10px;
    text-align: center;
    display: block
  }
}
