@import '../../styles/value';

.dashboard {
  // position: absolute;

  // margin-left: 30px;
  // margin-right: 20px;
  // display: flex;
  width: 100%;
  margin-bottom: 50px;
}
.dashboard__top {
  display: flex;
  width: 100%;
  .dashboard__top-left{
    width: 60%;
  }
  .dashboard__top-right{
    width: 35%;
  }
}

.dashboard__top-left__title {
  height: 70px;
}
.dashboard__top-left__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard__top-left__title-group{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard__top-left__title-text {
  font-size: 20px;
  // margin-right: 10px;
  font-weight: 600;
  line-height: 20px;
}

.dashboard__top-left__layout {
  background-color: #fff;
  height: 620px;
  border-radius: 20px;
}
.dashboard__top-left__layout-infor {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  // margin-left: 10px;
}

.dashboard__top-left__layout-text {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.layout-text__recent {
  span {
    color: #05b171;
  }
}
.dashboard__layout-selects {
  height: 50px;
  width: 170px;
  border-radius: 10px;
  margin-right: 20px;
  border: solid 1px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  .dashboard__layout-select {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fff;
    outline: none;
    option {
      width: 110%;
      position: absolute;
      top: 12px;
    }
  }
  &:hover {
    border: solid 1px #ff6e40;
    cursor: pointer;
  }
}
.dashboard__layout-select__item {
  width: 170px;
  position: absolute;
  top: 20px;
}

.dashboard__top-right {
  margin-left: 20px;
  .content-rights{
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
  }
}

.dashboard_row{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  
  .dashboard_card{
    margin-right: 20px;
    width: 30%;
    background-color: #fff;
    padding: 20px;
    padding-bottom: 0;
    border-radius: $radius;
    
    .dashboard_card_center{
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    .dashboard_btn_down{
      
      cursor: pointer;
      z-index: 10;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: $radius;
      padding:0px 10px 0px 10px;
      color: $primary;
      border:1px solid $primary;
      transition: all 0.5s ease;
      
      &:hover{
        background-color: $primary;
        color:#fff;
      }
    }
      
    .dashboard_card_title{
      display: flex;
      flex-direction: row;
      flex:1;
      align-items: center;
      font-size: 18px;
      margin-top: 0px;
    }
    .dashboard_review{
      position: relative;
      animation: slide 0.5s forwards;
      animation-delay: 0s;
      right: -40px;
      opacity: 0;
      @keyframes slide {
        100% { right: 0;opacity: 1; }
       }
      img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        margin-right: 20px;
      }
    }
    
  }
  .dashboard_card_but{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px;
    margin-right: 20px;
    border-radius: $radius;
    .db_card_icon{
      font-size: 50px;
    }
  }
}
.dashboard_table{
  border-radius: $radius;
  background-color: #fff;
  padding: 20px;
  padding-top: 20px;
  padding-left: 80px;
  height: 350px;
}
