.predict_layout {
  display: flex;
  flex-direction: column;

  // .predict_1{
  //   width: 100%;
  //   flex: 1;
  // }
  .predict_container {
    display: flex;

    &_left {
      width: 68%;
      background-color: #fff;
      border-radius: 20px;
      padding: 20px;

      h3 {
        margin: 0 0 15px;
        text-align: center;
        font-size: 25px;
      }

      p {
        width: 30%;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 500;
      }

      &_group {
        display: flex;
        margin-bottom: 20px;

        select {
          width: 62%;
          height: 58px;
          border-radius: 10px;
          text-align: center;
          font-size: 19px;
        }
      }
    }

    &_right {
      width: 30%;
      background-color: #fff;
      border-radius: 20px;
      margin: 0 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;

      button {
        background: #ffd400;
        border-radius: 10px;
        padding: 10px 54px;
        margin: 10px auto;
        font-size: 18px;
        font-weight: 800;
      }

      .result {
        font-size: 18px;
        text-align: center;
        font-weight: 500;
      }
    }
  }
}
