@import "../styles/value";

.header {
  flex: 1;
  position: fixed;
  z-index: 1;
  
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #f5f4fe;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__name {
  min-width: 200px;
  width: 10%;
  font-size: 36px;
  font-weight: 600;
  color: $dark;
  margin-right: 10px;
}
.header__search {
  width: 30%;
  height: 50px;
  min-width: 800px;
  max-width: 1000px;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.header__search-icon {
  margin: 10px;

  margin-left: 20px;
  color: gray;
  font-size: 24;
  cursor: pointer;
}
.header__search-box {
  margin-left: 20px;
  color: gray;
  font-style: 18px;
  width: 100%;
  border: none;
}
.header__bage-icon {
  width: 150px;

  width: 10%;
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding: 10px;
  margin-left: 20px;
}
.header__bage-icon__bad {
  color: $primary;
}
.header__bage-icon__item {
  color: rgba(63, 59, 59, 0.822);
  cursor: pointer;
  &:hover {
    color: $primary;
  }
}
.header__button {
  margin-right: 10px;
  background: $primary;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  min-width: 156px;
  cursor: pointer;

  &:hover {
    background: $primarystr;
  }
}
.header__button-icon {
  font-size: 16px;
  padding: 10px;
  color: white;
}
.header__button-tittle {
  color: white;
  font-size: 15px;
}

// tao thong bao

.header__overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.header__infor {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  max-width: 100%;
  background: #fff;
  z-index: 3;
 animation: slideLeft ease 1s;

 display: flex;
 flex-direction: column;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100%);}
  to {
    opacity: 1;
  transform: translateX(0);
  }
}



.header__infor__title {
  height: 50px;
  margin: 10px;
  padding: 10px;
  span{
    font-style: 20px;
    font-weight: 300;
  }
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}