@import "../styles/value";

.header {
  position: fixed;
  z-index: 10;

  top: 0;
  left: 380px;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f4fe;

  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__name {
  width: 15%;
  font-size: 30px;
  font-weight: 600;
  color: $dark;
  padding-left: 30px;
}
.header__search {
  width: 50%;
  height: 50px;

  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.header__search-icon {
  color: gray;
  font-size: 24;
  cursor: pointer;
}
.header__search-box {
  color: gray;
  font-style: 18px;
  width: 100%;
  border: none;
  height: 46px;
  outline: none;
}
.header__bage-icon {
  width: 7%;
  justify-content: space-between;
  display: flex;
  margin: 0 12px;

  color: white;
}
.header__bage-icon__bad {
  color: $primary;
}
.header__bage-icon__item {
  color: rgba(63, 59, 59, 0.822);
  cursor: pointer;
  &:hover {
    color: $primary;
  }
}
.header__button {
  width: 28%;
  padding: 0 10px;
  background: $primary;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  min-width: 150px;
  margin-right: 40px;
  cursor: pointer;

  &:hover {
    background: $primarystr;
  }
}
.header__button-icon {
  font-size: 16px;
  padding: 5px;
  color: white;
}
.header__button-tittle {
  color: white;
  font-size: 15px;
}

// tao thong bao

.header__overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.header__infor {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  max-width: 100%;
  background: #fff;
  z-index: 3;
  animation: slideLeft ease 1s;

  display: flex;
  flex-direction: column;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.header__infor__title {
  height: 50px;
  margin: 10px;
  padding: 10px;
  span {
    font-style: 20px;
    font-weight: 300;
  }
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media(min-width:740px) and (max-width:1023px){
  .header{
    left: 0;
    top:0;
    right: 0;
  }
}
.header_search_form{
  position: absolute;
  background-color: red;
  margin-top: 70px;
  width: 50%;
  
}