@import '../../styles/value';

.add__pro-container {
  border-radius: 10px;

  h2 {
    text-align: center;
    
  }

  h3 {
    margin-left: 30px;
  }
  input{
    height: 40px;
  }

  p {
    font-size: 16px;
    color: #8e8c8c;
    font-weight: 500;
    width: 28%;
    text-align: center;
  }

  .add__pro-top {
    

    .add__pro-name {
     background-color: #fff;
      margin: 15px 0;
      width: 97.5%;
      border-radius: $radius;
      padding: 10px;
      div{
        display: flex;
        input{
          width: 65%;
        }
      }
      
    }

    .add__pro-category {
     background-color: #fff;
      display: flex;
      width: 98.9%;
      flex-wrap: wrap;
      border-radius: $radius;
      .add__pro-category__parent:last-child {
        border-right: none;
      }
      h3{
        display: flex;
        width: 100%;
      }
      ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        border-radius: 10px;
        background-color: #fff;
      }

      ::-webkit-scrollbar-track {
        opacity: 1;
      }

      ::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb:hover {
        
      }

      ::-webkit-resizer {
        width: 6px;
      }

      .add__pro-category__parent {
        background-color: #fff;
        width: 30%;
        overflow-y: auto;
        border-right: 1px solid #af9f9f;
        padding-right: 10xp;
        height: 230px;
        .add__pro-category__child {
          cursor: pointer;
          list-style-type: none;
          width: 80%;
          padding: 10px 0;
          display: flex;
          justify-content: space-between;

          span {
            display: block;
          }

          .add__pro-category__child-icon {
            color: #bbb;
            font-size: 24px;
          }
        }
      }
    }

    .add__pro-tag-name {
      margin: 30px;
      height: 20px;
      width: 100%;
      
      span {
        color: #eb3b0f;
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
      }

      .add__pro-category__child-icon {
        color: #bbb;
        font-size: 24px;
        margin: -6px 12px;

      }
    }
  }

  .add__pro-basic__infor {
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    width: 98.9%;
    &-title {
      color: #000;
      
    }

    &-img {
      display: flex;
     
      p {
        width: 29%;
      }

      &__group {
        width: 60%;
        display: flex;
        justify-content: space-between;

        &_label {
          display: inline-block;
          border: none;
          background-size: 100px 100px;
          cursor: pointer;
        }

        &_avatar {
          width: 100px;
          height: 100px;
        }
      }
    }

    &-description {
      display: flex;
      textarea{
        margin-top: 20px;
        padding: 20px;
        border-radius: $radius;
        border: 1px solid rgb(173, 173, 173);
        &:focus{
          border: 1px solid $primary;
          outline: none;

        }
        margin-bottom: 20px;
      }
      &-content {
        border: 2px solid rgb(160, 151, 151);
        display: block;
        width: 60%;
        padding: 0 16px;
        resize: none;
      }
    }
  }

  .add__pro__detail-infor {
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    padding-bottom: 15px;
    margin-top: 20px;
    display: flex;
    width: 98.9%;
    .add__pro__detail-group {
      display: flex;
      input{
        margin-top: 10px;
        width: 60.5%;
      }
      p {
        display: inline-block;
        line-height: 40px;
      }

      select {
        
        width: 62.5%;
        height: 40px;
        text-align: center;
        border-radius: 10px;
        margin: auto 0;
        font-size: 15px;
        color: #2f2b2b;
        &:focus{
          outline: none;
          border: 1px solid $primary;
        }
      }
    }

  }

  .add__pro__sale-infor {
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    padding-bottom: 15px;
    margin-top: 20px;
    display: flex;
    width: 98.9%;
    &-classify {
      display: flex;
      flex-direction: column;

      &-header {
        display: flex;

        input {
          width: 40%;
        }

        button {
          margin: auto;
          padding: 10px 43px;
          color: #fff;
          border-radius: 10px;
          border: none;
          background-color: #ff6e40;
          font-size: 18px;
          cursor: pointer;
        }
      }

      &-go {
        margin-left: 28%;
        display: flex;

        input {
          width: 56%;
        }

        &-item {
          margin-bottom: 5px;

        }

        &-button {
          display: flex;

          button {
            min-width: 100px;
            margin: 10px 20px;
            padding: 8px 10px;
            color: #fff;
            border-radius: 10px;
            border: none;
            background-color: #ff6e40;
            font-size: 14px;
            cursor: pointer;
          }

          button:first-child {
            background-color: rgb(42, 135, 211);
          }

          button:last-child {
            background-color: rgb(216, 67, 29);
          }
        }


      }

      &-infor {
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 83%;
          margin: 10px auto;

        }

        td,
        th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 14px;
        }

      }
    }
  }

  .add__pro-container__action {
    display: flex;
    justify-content: center;


    button {
      width: 20%;
      margin: 10px 20px;
      padding: 8px 10px;
      color: #fff;
      border-radius: 10px;
      border: none;
      background-color: $danger;
      font-size: 18px;
      cursor: pointer;
    }

    button:last-child {
      background-color: #ff6e40;
    }

    .modal-toast {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 100;
      background-color: rgba(19, 17, 17, 0.3);

      .modal-container {
        width: 300px;
        z-index: 200;
        height: 150px;
        margin: auto;
        background-color: #fff;
        margin-top: 217px;
        border-radius: 5px;

        p {
          color: #000;
          width: 100%;
          font-size: 18px;
          padding-top: 20px;
        }

        &-button {
          margin: 41px auto;
          display: flex;
          justify-content: center;

          button {
            width: 80px;
            height: 35px;
            background-color: #fff;
            font-size: 14px;
          }

          button:last-child {
            background-color: #eb3b0f;
          }
        }
      }
    }
  }

}

.active-color-orange {
  color: #eb3b0f;
}