@import '../styles/value';

.tb_header{
  display: flex;
  
  flex:1;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 10px;  
  height: 80px;
  .tb_select{
    padding:10px;
    width: 130px;
    height: 40px;
    font-size: 16px;
    margin-left: 20px;
    outline: none;
    border: 0.1px solid #D0CFCE;
    border-radius: $radius;
    transition: all 0.5s ease-in;
    &:hover{
      border: 0.1px solid $primary;

    }
    &:focus{
      border: 0.1px solid $primary;

    }
  }
  .tb_select_a{
    @extend .tb_select;
    margin-right: 20px;
  }
  .tb_sort{
    display: flex;
    margin-left: 30px;
    border: 0.1px solid #D0CFCE;
    border-radius: 10px;
    padding:0px 10px 0px 10px;
    flex-direction: row;
    align-items: center;
    height: 40px;
    cursor: pointer;
   
  }
  .tb_sort_clicked{
    @extend .tb_sort;
    border: 0.1px solid $primarystr;

  }
  .tb_a_btn{
    background: $primary;
    color: #fff;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
  }
  .tb_a_btn_clicked{
    @extend .tb_a_btn;
   
    background-color: $primarystr;
    
  }
  .tb_sort_active{
    background: #fff;
    position: absolute;
    width:115px;
    height: 64px;
    margin-top: 116px;
    margin-left: 130px;
    border: 0.1px solid #D0CFCE;
    border-radius: 10px;
    .tb_sort_active_item{
      cursor: pointer;
      margin-top: -16px;
      padding-left: 10px;
      &:hover{
        background: $gray;
        color: white;
      }
      
    }
    .item1{
      margin-top: 0px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .item3{
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding-bottom: 1px;
    }
  }
  .tb_count_active{
   @extend .tb_sort_active;
   width: 83px;
   margin-left: 275px;
   .tb_count_active_item{
    cursor: pointer;
    margin-top: -16px;
    padding-left: 10px;
    &:hover{
      background: $gray;
      color: white;
    }
   }
  }
  .tb_actionbig_active{
    @extend .tb_sort_active;
   margin-left: -125px;
   margin-top: 25px;
   
   .tb_actionbig_active_item{
    cursor: pointer;
    margin-top: -16px;
    padding-left: 10px;
    &:hover{
      background: $gray;
      color: white;
    }
 
    }
  }}
.search_container_form{
  position: absolute;
  flex-direction: column;
<<<<<<< HEAD
=======
  
>>>>>>> 80b1d743bba691c678969bb96b30e8a83c633088
  margin-left: -10px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
  width: 15%;
  z-index: 3;
  border-radius: $radius;
<<<<<<< HEAD
  margin-top: 570px;
=======
  margin-top: 20px;
>>>>>>> 80b1d743bba691c678969bb96b30e8a83c633088
}
.search_container_item{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  cursor: pointer;
  font-size: 12px;
  margin-top: -10px;
  transition: all 0.4s ease-in-out;
  background-color: #fff; 
  padding:20px;
  border-radius: 10px;
  &:hover{
    
    color: $primary;
  }
  .search_text{
    display: flex;
    flex-direction: column;
    margin-top: -14px;
    margin-left: 20px;
  }
  img{
    width: 80px;
    height: 80px;
    border-radius: $radius;
 
  }
}