@import './components/styles/value';
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet');

:root{
  background-color: $backgroundColor ;
}
.app{
  display: flex;
  flex-direction: row;
}
.sidebar{
  flex: 1;
  // position: fixed;
  // top: 0;
  // left: 0;
}
.body{

  flex: 5;
  margin-left: 50px;
 
}
.header__class{
  position: sticky;
  top: 0;
  width: 100%;
}